{% extends "layout.html" %}
{% block HOME %}
<div class="container text-white">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-center text-white"><h1>Delete User</h1></legend>
            <div class="form-group">
                <h4>{{ form.object_id.label(class="form-control-label") }}</h4>

                {% if form.object_id.errors %}
                    {{ form.object_id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.object_id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.object_id(class="form-control form-control-lg", placeholder="Enter user Id to delete") }}
                {% endif %}
            </div>


        </fieldset>
        <div class="form-group text-center">
            {{ form.submit(class="btn btn-outline-danger") }}
        </div>

            <!-- <div class="text-center"><a href="/" id="home" class="text-white btn btn-outline-dark">Home</a></div> -->

    </form>
</div>

{% endblock HOME %}
