{% extends "layout.html" %}
{% block HOME %}
<div class="container">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete Delivery</legend>
            <div class="form-group">
                {{ form.Del_id.label(class="form-control-label") }}

                {% if form.Del_id.errors %}
                    {{ form.Del_id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.Del_id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.Del_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>


        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>

            <a href="/" class="btn btn-outline-info">Home</a>

    </form>
</div>

{% endblock HOME %}
