{% extends "layout.html" %}
{% block HOME %}
    <div class="container text-white">
    <div class="row">
        <div class="col-sm-6 ">
            Image here !! 
        </div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-white text-center"><h1>New Delivery</h1></legend>
                <div class="form-group">
                    <h4>{{ form.sender_id.label(class="form-control-label") }}</h4>

                    {% if form.sender_id.errors %}
                        {{ form.sender_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.sender_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.sender_id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                        <h4>{{ form.receiver_id.label(class="form-control-label") }}</h4>

                        {% if form.receiver_id.errors %}
                            {{ form.receiver_id(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.receiver_id.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.receiver_id(class="form-control form-control-lg") }}
                        {% endif %}
                </div>

                <div class="form-group">
                    <h4>{{ form.weight.label(class="form-control-label") }}</h4>
                    {% if form.weight.errors %}
                        {{ form.weight(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.weight.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.weight(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                


            </fieldset>
            <div class="form-group text-center">
                {{ form.submit(class="btn text-white btn-outline-success btn-lg shadow-sm") }}
            </div>

                  <!-- <div class="text-center ">  <a href="/" class="btn text-white btn-outline-dark btn-lg shadow-sm">Home</a></div> -->
        </form>
        </div>
    </div>

{% endblock HOME %}
