
{% extends 'layout.html' %}
{% block HOME %}
<div class='container put-up mt-4'>
        
        <div class="row">
            <div class="btn-group-vertical col-sm-6">
                <!-- {{ address[0], address[1] }} -->
                <!-- <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
             <button class="btn-lg btn-outline-dark shadow-sm"><a href= {{address[0] }}>Enter New User</a></button></br></br>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn-lg btn-outline-dark shadow-sm"><a href= {{address[1] }}>Enter New Delivery</a></button></br></br>
                        </div>
                    </div>
                </div> -->
                <a class="btn-lg btn-outline-primary shadow-sm text-center btn-block" href= {{address[0] }}>Enter New User </a> </br>
                <a class="btn-lg btn-outline-primary shadow-sm text-center btn-block" href= {{address[1] }}>Enter New Delivery </a> </br>
                <a class="btn-lg btn-outline-primary shadow-sm text-center btn-block" href= {{address[2] }}>View all Deliveries </a> </br>
                <a class="btn-lg btn-outline-primary shadow-sm text-center btn-block" href= {{address[3] }}>View all Users </a> </br>
                <a class="btn-lg btn-outline-primary shadow-sm text-center btn-block" href= {{address[4] }}>Delete User </a> </br>
                <a class="btn-lg btn-outline-primary shadow-sm text-center btn-block" href= {{address[5] }}>Delete delivery </a> </br>
            </div>
            <div class="col-sm-6">
                <!-- <img src="../delman.jpg" /> -->
                <img class="img-fluid " src="{{ url_for('static',filename='images/deltruck.jpg') }}">
                <!-- <img src="{{resized_img_src('delman.jpg', width=100)}}" /> -->
                <!-- GET YOUR DELIVERIES HERE !! 😃 -->
            </div>
        </div>
        
</div>
{% endblock HOME %}
