
{% extends 'layout.html' %}
{% block HOME %}
<div class='container  mt-4'>
        <h1 class='mb-3 text-center text-white'>Courier Management System</h1></br></br>
        <div class="row">
            <div class="btn-group-vertical col-sm-6">
                <!-- {{ address[0], address[1] }} -->
                <!-- <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn-lg btn-outline-dark shadow-sm"><a href= {{address[0] }}>Enter New User</a></button></br></br>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn-lg btn-outline-dark shadow-sm"><a href= {{address[1] }}>Enter New Delivery</a></button></br></br>
                        </div>
                    </div>
                </div> -->
                <div class="text-center"><button class="btn-lg btn-outline-dark shadow-sm "><a  href= {{address[0] }} >Enter New User</a></button></br></br></div>
                <div class="text-center"><button class="btn-lg btn-outline-dark shadow-sm"><a href= {{address[1] }}>Enter New Delivery</a></button></br></br></div>
                <div class="text-center"><button class="btn-lg btn-outline-dark shadow-sm"><a href= {{address[2] }}>View all Deliveries</a></button></br></br></div>
                <div class="text-center"><button class="btn-lg btn-outline-dark shadow-sm"><a href= {{address[3] }}>View all Users</a></button></br></br></div>
                <div class="text-center"><button class="btn-lg btn-outline-dark shadow-sm"><a href= {{address[4] }}>Delete User</a></button></br></br></div>
                <div class="text-center"><button class="btn-lg btn-outline-dark shadow-sm"><a href= {{address[5] }}>Delete delivery</a></button></br></br></div>
            </div>
            <div class="col-sm-6">
                <!-- <img src="delman.jpg" /> -->
                GET YOUR DELIVERIES HERE !! 😃
            </div>
        </div>
        
</div>
{% endblock HOME %}
