{% extends "layout.html" %}
{% block HOME %}
    <div class="container">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group ">
                <legend class="border-bottom mb-4">New User Login</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.lane.label(class="form-control-label") }}
                    {% if form.lane.errors %}
                        {{ form.lane(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.lane.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.lane(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class=" dropdown">
                    {{ form.station.label(class="form-control-label") }}
                    {% if form.station.errors %}
                        {{ form.station(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.station.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.station(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

                <a href="/" class="btn btn-outline-info">Home</a>

        </form>
    </div>

{% endblock HOME %}
